@import url("https://fonts.googleapis.com/css2?family=SUSE:wght@400&display=swap"); /* Import the SUSE font */

/* Base styles for mobile and small screens */

/* Medium screens (tablets) */

/* Large screens (desktops) */

.login-container {
	display: flex;
	overflow: hidden;
	justify-content: flex-end;
	align-items: center;
	background-repeat: no-repeat;
	box-sizing: border-box;
	position: relative; /* Add this to position elements inside */
}

.image-overlay {
	z-index: 2; /* Ensure the text is above other elements */
}

.overlay-text {
	font-size: 48px; /* Adjust text size */
	color: white; /* Ensure the text is visible */
	font-family: "SUSE", sans-serif; /* Use SUSE font */
	font-weight: bold; /* Make the text bold */
	text-shadow: -1px -1px 0 #333333, /* Dark gray color */ 1px -1px 0 #333333,
		-1px 1px 0 #333333, 1px 1px 0 #333333; /* Darker color for better contrast */
	margin: 0; /* Remove default margins */
	padding-left: 10px; /* Optional: Adjust padding if needed */
}

.login-form {
	background-color: rgba(255, 255, 255, 0.8);
	border-radius: 10px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	z-index: 1; /* Ensure the form is layered appropriately */
	position: relative; /* Ensure it's layered properly with the overlay */
}

.form-group-input {
	box-sizing: border-box;
	border: 1px solid #ccc;
	box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
	border-radius: 10px; /* Rounded corners */
	outline: none;
}

.form-group-input:focus {
	border-color: #007bff;
	box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.button {
	background-color: #003049;
	color: white;
	border: none;
	cursor: pointer;
	border-radius: 5px;
}

button[type="submit"]:hover {
	background-color: #007bff;
}
.input img {
	margin: 0px 30px;
}
