# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

server/node_modules/
client/node_modules/
client/build/
server/web/
*.pyc
*.pth

server/input_images/*
server/output_images/*
dist
dist-ssr
*.local
package-lock.json
# clear.ps1

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.env
